<ion-view title="Agenda">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Agendado as 20:00 horas</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" href="#/perfil_usuario">
                        <img>
                        <h2>Ricardo Ferreira</h2>
                        <p>Tel: (31) 996980158</p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Av. Raja Gabaglia, 113</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Agendado as 20:00 horas</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" href="#/perfil_usuario">
                        <img>
                        <h2>Ricardo Ferreira</h2>
                        <p>Tel: (31) 996980158</p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Av. Raja Gabaglia, 113</div>
        </div>
    </ion-content>
</ion-view>