<ion-view title="Confirmacao do Anunciante">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Sua Solicitacao Foi Aceita!</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Alexandra</ion-item>
                    <ion-item>Motel</ion-item>
                    <ion-item>Av. Raja Gabaglia, 1137</ion-item>
                    <ion-item>Às 20:00 horas</ion-item>
                    <ion-item>R$ 150,00</ion-item>
                    <ion-item>+ Taxa do Taxi : R$ 40,00</ion-item>
                </ion-list>
            </div>
        </div>
        <a href="#/servicos_agendados" class="button button-assertive button-outline button-block  icon-left ion-android-checkmark-circle">Confirmar</a>
        <a href="#/visualizar_perfil" class="button button-dark button-outline button-block  icon-left ion-android-exit">Cancelar</a>
    </ion-content>
</ion-view>