<ion-view title="Editar Perfil">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form class="list">
            <h5>NOME:</h5>
            <label class="item item-input" name="nome">
                <input type="text" placeholder="">
            </label>
            <h5>E-MAIL:</h5>
            <label class="item item-input" name="email">
                <input type="email" placeholder="">
            </label>
            <h5>SEXO:</h5>
            <ion-radio name="cb_sexo">Feminino</ion-radio>
            <ion-radio name="cb_sexo">Masculino</ion-radio>
            <button class="button button-assertive button-outline button-block ">SALVAR</button>
        </form>
    </ion-content>
</ion-view>