<ion-view title="Lista de Servicos">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#/visualizar_perfil">
                <img src="img/ozZtwTumReV8PJmoPnFg_Bigaiul.jpeg">
                <h2>Alexandra</h2>
                <p>R$ 150,00 1H</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/visualizar_perfil">
                <img src="img/xrfEnSbsRZefV5zLz0v5_flavia.jpeg">
                <h2>Gatinha22</h2>
                <p>R$ 230 1H</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>