<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a href="#/menu/lista_de_servicos" class="button button-assertive button-outline button-block ">ENTRAR</a>
            <a href="#/cadastro" class="button button-dark button-outline button-block ">CRIAR CONTA</a>
        </form>
    </ion-content>
</ion-view>