<ion-view title="pedido">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Deseja aceitar pedido do usuario?</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" href="#/perfil_usuario">
                        <img>
                        <h2>Ricardo Ferreira</h2>
                        <p>(31)996980158</p>
                    </ion-item>
                    <ion-list>
                        <ion-item>Motel</ion-item>
                        <ion-item>Av. Raja Gabaglia, 1113</ion-item>
                        <ion-item>Às 20: horas</ion-item>
                        <ion-item>Pernoite</ion-item>
                        <label class="item item-input" name="nota">
                            <span class="input-label">Nota:</span><textarea placeholder=""> </textarea>
                        </label>
                    </ion-list>
                </ion-list>
            </div>
        </div>
        <ion-list></ion-list>
        <a href="#/agenda" class="button button-assertive button-outline button-block ">SIM</a>
        <button class="button button-dark button-outline button-block ">NAO</button>
    </ion-content>
</ion-view>