<ion-view title="questao 1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Questao 1</div>
            <div class="item item-body">
                <img src="img/D0PQj1CSr2WO6LnUxWUr_Alexsandra de Aguiar - foto perfil.png" width="100%" height="auto" style="width: 100%; height: auto;">
                <div>
                    <p>çkajhsxkhaçlhxlhxlxchdlxhclhdcsdLKL SAHDSDF S D DC FGVS</p>
                </div>
                <form class="list">
                    <ion-checkbox>sim</ion-checkbox>
                </form>
            </div>
            <div class="item item-divider">Estudar</div>
        </div>
        <a href="#/quest2" class="button button-balanced button-outline button-block  icon-right ion-android-arrow-dropright-circle">PROXIMO</a>
    </ion-content>
</ion-view>