<ion-view title="Servicos Agendados">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Agendado</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" href="#/visualizar_perfil">
                        <img src="img/3vJb3uDfSGuGshBFe9yt_Bigaiul.jpeg">
                        <h2>Alexandra</h2>
                        <p>R$ 150,00</p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">as 13:00 horas.</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Agendado</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" href="#/visualizar_perfil">
                        <img src="img/3vJb3uDfSGuGshBFe9yt_Bigaiul.jpeg">
                        <h2>Alexandra</h2>
                        <p>R$ 150,00</p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">as 13:00 horas.</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Agendado</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" href="#/visualizar_perfil">
                        <img src="img/3vJb3uDfSGuGshBFe9yt_Bigaiul.jpeg">
                        <h2>Alexandra</h2>
                        <p>R$ 150,00</p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">as 13:00 horas.</div>
        </div>
    </ion-content>
</ion-view>