<ion-view title="Visualizar Perfil">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Alexandra</div>
            <div class="item item-body">
                <div>
                    <p>"Loirinha educada e carinhosa... Seios encantadores e rosto bonito... Adora um bom sexo!"</p>
                </div>
            </div>
        </div>
        <ion-list>
            <ion-item>R$ 150,00 por hora.</ion-item>
            <ion-item>R$ 500,00 pernoite.</ion-item>
            <ion-item>Altura: 1,65m</ion-item>
            <ion-item>Olhos: Azul</ion-item>
            <ion-item>Peso: 59Kg</ion-item>
            <ion-item>Sexo vaginal</ion-item>
            <ion-item>Sexo Oral</ion-item>
            <ion-item>Sexo Anal</ion-item>
        </ion-list>
        <form class="list">
            <ion-toggle toggle-class="toggle-assertive" name="favorito">Marcar nos favoritos</ion-toggle>
        </form>
        <a href="#/solicitar_servico" class="button button-assertive button-outline button-block ">Solicitar</a>
    </ion-content>
</ion-view>